/*---------- MOBILE ----------*/
footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;

  height: 250px; /*subject to change*/
  background: url('../images/shattered-dark.png') repeat, linear-gradient(to top, black 0%,#1a0c00 90%) ;
  box-shadow: inset 0px 3px 9px 0px rgba(0,0,0,0.6);
  border-top: 1px solid black;
}
  footer p, footer h3 {
    width: 100%;
  }

  .footer-contacts, .footer-social {
    width: 50%;
    display: flex;
    align-items: center;
  }

  .footer-contacts {
    justify-content: flex-start;
  }

  .footer-social {
    justify-content: space-evenly;
  }

  .footer-social i {
    font-size: 2em;
    color: var(--color-dark-orange);
  }

  .footer-social i:hover {
    color: var(--color-darkest-orange);
    transition: all 1s;
    transform: translate(0px, -5px);
  }

  .footer-rights {
    width: 100%;
    margin-top: 15px;
    padding-top: 15px;
    text-align: center;
    border-top: 2px solid var(--color-dark-gray);
  }

/*---------- DESKTOP ---------*/
