/*---------- HAMBURGER MENU --- MOBILE FIRST ---------*/
header {
  display: unset;
}

header > nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  position: sticky;
  width: 100vw; /* full screen */
  height: 80px; /* because icon is 64x64px */
  background:url('../images/shattered-dark.png') repeat, linear-gradient(to bottom, black 0%,#1a0c00 80%);
  box-shadow: inset 0px -2px 9px 0px rgba(0,0,0,0.6);
}

.logo-container {
  display: flex;
  align-items: center;
  width: auto;
}
  .logo-container > img {
    margin-left: 15px; /* margin for logo img from the left side */
  }

#menu-toggler {
  display: none;
}

#menu-toggler:checked ~ .menu {
  height: 100vh; /* expanded */
}

#menu-toggler:checked ~ .menu li {
  display: block; /* visible when checked */
}

.hamburger-btn {
  padding: 16px 10px;  /* to be able to click the hamburger a little bit out of it */
  margin-right: 15px; /* margin for hamburger btn from the right side*/
  cursor: pointer;
}
  .hamburger-slice { /* slice 2 */
    width: 18px;
    height: 2px;
    display: block;
    position: relative;
    background: var(--color-dark-orange);
  }
  .hamburger-slice::before {  /* slice 1 */
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 5px;
    content: "";
    background: var(--color-dark-orange);
  }
  .hamburger-slice::after { /* slice 3 */
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: -5px;
    content: "";
    background: var(--color-dark-orange);
  }

.menu {
  top: 80px;
  position: fixed;
  width: 100vw; /* full screen */
  height: 0vh; /* shrinked/hidden */
  text-align: center;
  transition: all .5s;
  background: var(--color-dark-blue);
}
  .menu li {
    display: none; /* invisible  */
    margin: 50px 0;
    line-height: 30px;
    transition: all .5s;
  }
    .menu li a {
      /* font-size: var(--font-size-extra-large);  using em in header*/
      text-decoration: none;
      text-transform: uppercase;
      color: var(--color-light-orange);
    }
      .menu li a.active,.menu li a:hover {
        transition: 0.5s;
        color: var(--color-dark-orange);
      }

/*---------- DESKTOP ---------*/
@media only screen and (min-width: 900px) {
  nav {
    height: 100px;  /* a little bit larger for desktop */
  }

  .hamburger-btn {
    display: none;
  }

  .menu {
    position: relative;
    top: 0;
    height: 100px;
    margin-right: 25px;
    float: right;
    transition: none;
    background: none;
    text-align: right;
  }
    .menu li {
      margin: 0 20px;
      line-height: 100px;
      display: inline-block;
      transition: none;
    }
      .menu li a.active, .menu li a:hover {
        transition: 0.5s;
        color: var(--color-dark-orange);
      }
}

