/*---------- HAMBURGER MENU --- MOBILE FIRST ---------*/
header {
  top: 0;
  z-index: 100;
  position: -webkit-sticky;
  position: sticky;
  overflow: hidden; /* For ribbon */
}

header > nav {
  display: -webkit-box;
  display: -ms-flexbox;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;

  display: flex;
  align-items: center;
  justify-content: flex-end;

  height: 60px;

  background: url('../images/shattered-dark.png') repeat, -webkit-gradient(linear, left top, left bottom, from(black),color-stop(80%, #1a0c00));
  background: url('../images/shattered-dark.png') repeat, -o-linear-gradient(top, black 0%,#1a0c00 80%);
  background: url('../images/shattered-dark.png') repeat, linear-gradient(to bottom, black 0%,#1a0c00 80%);

  -webkit-box-shadow: inset 0px -2px 9px 0px rgba(0,0,0,0.6), 0px 0px 10px 4px rgba(0,0,0,0.5);
  box-shadow: inset 0px -2px 9px 0px rgba(0,0,0,0.6), 0px 0px 10px 4px rgba(0,0,0,0.5);
  border-bottom: 1px solid black;

  position: relative; /* For ribbon */
}

.ribbon {
  top: 12px;
  left: -85px;
  width: 180px;
  height: 10px;
  position: absolute;
  -webkit-transform: rotate(140deg);
  -ms-transform: rotate(140deg);
  transform: rotate(140deg);
  outline: 2px solid black; /* using border causing micro outline for transformed elements, so instead use outline */
  background-image: url('../images/asfalt-dark.png');
  background-repeat: repeat;
  background-color: var(--font-color);
  -webkit-box-shadow: inset 0px -2px 9px 0px rgba(0,0,0,0.6), 0px 0px 10px 4px rgba(0,0,0,0.5);
  box-shadow: inset 0px -2px 9px 0px rgba(0,0,0,0.6), 0px 0px 10px 4px rgba(0,0,0,0.5);
}
  .ribbon::before {
    content: "";
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    top: -20px;
    width: 180px;
    height: 10px;
    position: absolute;
    outline: 2px solid black; /* using border causing micro outline for transformed elements, so instead use outline */
    background-image: url('../images/asfalt-dark.png');
    background-repeat: repeat;
    background-color: var(--color-dark-orange);
    -webkit-box-shadow: inset 0px -2px 9px 0px rgba(0,0,0,0.6), 0px 0px 10px 4px rgba(0,0,0,0.5);
    box-shadow: inset 0px -2px 9px 0px rgba(0,0,0,0.6), 0px 0px 10px 4px rgba(0,0,0,0.5);
  }

#menu-toggler {
  display: none;
}

#menu-toggler:not(:checked) ~ .menu { /* Make links unclickable when menu is closed */
  cursor: default;
  pointer-events: none;
}

#menu-toggler:checked ~ .menu {
  height: calc(100vh - 60px); /* expanded */
}

#menu-toggler:checked ~ .menu li {
  opacity: 1;
  -webkit-transition: all 2s;
  -o-transition: all 2s;
  transition: all 2s;
}

#menu-toggler:checked ~ .hamburger-btn .hamburger-slice {
  visibility: hidden;
}

#menu-toggler:checked ~ .hamburger-btn .hamburger-slice::before {
  top: 0;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  visibility: visible;
  -webkit-transform:rotate(135deg);
  -ms-transform:rotate(135deg);
  transform:rotate(135deg);
  border: 2px solid black;
  -webkit-box-shadow: 2px 0px 30px 15px rgba(0,0,0,0.5);
  box-shadow: 2px 0px 30px 15px rgba(0,0,0,0.5);
}

#menu-toggler:checked ~ .hamburger-btn .hamburger-slice::after {
  top: 0;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  visibility: visible;
  -webkit-transform:rotate(225deg);
  -ms-transform:rotate(225deg);
  transform:rotate(225deg);
  border: 2px solid black;
}

#menu-toggler:not(:checked) ~ .hamburger-btn .hamburger-slice::before, #menu-toggler:not(:checked) ~ .hamburger-btn .hamburger-slice::after {
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

.hamburger-btn {
  padding: 16px 10px;  /* to be able to click the hamburger a little bit out of it */
  margin-right: 15px; /* margin for hamburger btn from the right side */
  cursor: pointer;
}
  .hamburger-slice { /* slice 2 */
    width: 25px;
    height: 6px;
    display: block;
    position: relative;
    background: var(--color-dark-orange);
    border: 2px solid black;
    -webkit-box-shadow: 2px 0px 30px 15px rgba(0,0,0,0.5);
    box-shadow: 2px 0px 30px 15px rgba(0,0,0,0.5);
  }
    .hamburger-slice::before {  /* slice 1 */
      width: 100%;
      height: 100%;
      display: block;
      position: absolute;
      top: 7px;
      left: -2px;
      content: "";
      border: 2px solid black;
      background: var(--color-dark-orange);
    }
    .hamburger-slice::after { /* slice 3 */
      width: 100%;
      height: 100%;
      display: block;
      position: absolute;
      top: -11px;
      left: -2px;
      content: "";
      border: 2px solid black;
      background: var(--color-dark-orange);
    }

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  top: 60px;
  width: 100vw; /* full screen */
  height: 0vh; /* shrinked/hidden */
  z-index: 100;
  position: fixed;
  text-align: center;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  -webkit-box-shadow: inset 0px 0px 30px rgba(0,0,0,8);
  box-shadow: inset 0px 0px 30px rgba(0,0,0,8);
  background: url('../images/shattered-dark.png') repeat black;
}
  .menu li {
    opacity: 0;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
  }
  .menu li:last-child {
    padding-bottom: 12%;
  }
    .menu li a {
      text-decoration: none;
      text-transform: uppercase;
      color: var(--color-light-orange);
    }
      .menu li a.active,.menu li a:hover, .menu li a:active {
        -webkit-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s;
        color: var(--color-dark-orange);
      }

/*------------------------------- MEDIA QUERIES -------------------------------*/
/*---------- FROM HAMBURGER TO LIST MENU IN NAVTGATION ---------*/
@media (min-width: 900px) {
  header > nav {
    height: 65px;  /* a little bit larger for desktop */
  }

  .ribbon {
    height: 12px;
  }
    .ribbon::before {
      top: -22px;
      height: 12px;
    }

  .hamburger-btn {
    display: none;
  }

  #menu-toggler:not(:checked) ~ .menu {
    pointer-events: auto;
  }

  .menu {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    -webkit-box-pack: end;
    -ms-flex-pack: end;

    flex-direction: row;
    justify-content: flex-end;

    top: 0;
    height: 65px;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: none;

    font-size: 0.9em;
  }

  .menu li:last-child {
    padding-bottom: 0;
  }
    .menu li {
      opacity: 1;
      margin: 0 20px;
      line-height: 70px;
      -webkit-transition: none;
      -o-transition: none;
      transition: none;
    }
    .menu li:last-child {
      margin-right: 50px;
    }
}
